@model IEnumerable<FCourse.Models.Level>

@{
    ViewBag.Title = "Admin-Level List";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}
<style>
    .row{
        display: block!important
    }
</style>

<div class="widget has-shadow">
    <div class="widget-body">
        <div class="table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th width="15%">Id</th>
                        <th width="50%">Name</th>
                        <th width="35%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><span class="text-primary">@Html.DisplayFor(modelItem => item.Id)</span></td>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td class="td-actions">
                                <a href="@Url.Action("Details", "Levels", new { id = item.Id })">
                                    <i class="ion ion-information"></i>
                                </a>
                                <a href="@Url.Action("Edit", "Levels", new { id = item.Id })">
                                    <i class="ion ion-edit"></i>
                                </a>
                            </td>
                        </tr>

                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
