@model IEnumerable<FCourse.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<!-- Default -->
<div class="widget has-shadow">
    <div class="widget-header bordered no-actions d-flex align-items-center">
        <h4>Default</h4>
    </div>
    <div class="widget-body">
        <div class="table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Customer Name</th>
                        <th>Country</th>
                        <th>Ship Date</th>
                        <th><span style="width:100px;">Status</span></th>
                        <th>Order Total</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <td><span class="text-primary">054-01-FR</span></td>
                            <td>Lori Baker</td>
                            <td>US</td>
                            <td>10/21/2017</td>
                            <td><span style="width:100px;"><span class="badge-text badge-text-small info">Paid</span></span></td>
                            <td>$139.45</td>
                            <td class="td-actions">
                                <a href="#"><i class="la la-edit edit"></i></a>
                                <a href="#"><i class="la la-close delete"></i></a>
                            </td>
                        </tr>

                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- End Default -->
<!-- Hover -->
<div class="widget has-shadow">
    <div class="widget-header bordered no-actions d-flex align-items-center">
        <h4>Hover</h4>
    </div>
    <div class="widget-body">
        <div class="table-responsive">
            <table class="table table-hover mb-0">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Customer Name</th>
                        <th>Country</th>
                        <th>Ship Date</th>
                        <th><span style="width:100px;">Status</span></th>
                        <th>Order Total</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="text-primary">054-01-FR</span></td>
                        <td>Lori Baker</td>
                        <td>US</td>
                        <td>10/21/2017</td>
                        <td><span style="width:100px;"><span class="badge-text badge-text-small info">Paid</span></span></td>
                        <td>$139.45</td>
                        <td class="td-actions">
                            <a href="#"><i class="la la-edit edit"></i></a>
                            <a href="#"><i class="la la-close delete"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="text-primary">021-12-US</span></td>
                        <td>Lawrence Crawford</td>
                        <td>FR</td>
                        <td>10/21/2017</td>
                        <td><span style="width:100px;"><span class="badge-text badge-text-small info">Paid</span></span></td>
                        <td>$189.00</td>
                        <td class="td-actions">
                            <a href="#"><i class="la la-edit edit"></i></a>
                            <a href="#"><i class="la la-close delete"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="text-primary">189-01-RU</span></td>
                        <td>Samuel Walker</td>
                        <td>AU</td>
                        <td>08/21/2017</td>
                        <td><span style="width:100px;"><span class="badge-text badge-text-small danger">Failed</span></span></td>
                        <td>$107.55</td>
                        <td class="td-actions">
                            <a href="#"><i class="la la-edit edit"></i></a>
                            <a href="#"><i class="la la-close delete"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="text-primary">092-06-FR</span></td>
                        <td>Angela Walters</td>
                        <td>US</td>
                        <td>08/21/2017</td>
                        <td><span style="width:100px;"><span class="badge-text badge-text-small success">Delivered</span></span></td>
                        <td>$129.85</td>
                        <td class="td-actions">
                            <a href="#"><i class="la la-edit edit"></i></a>
                            <a href="#"><i class="la la-close delete"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="text-primary">021-09-US</span></td>
                        <td>Ryan Hanson</td>
                        <td>ES</td>
                        <td>07/21/2017</td>
                        <td><span style="width:100px;"><span class="badge-text badge-text-small info">Paid</span></span></td>
                        <td>$199.95</td>
                        <td class="td-actions">
                            <a href="#"><i class="la la-edit edit"></i></a>
                            <a href="#"><i class="la la-close delete"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="text-primary">054-01-FR</span></td>
                        <td>Evelyn Black</td>
                        <td>FR</td>
                        <td>10/21/2017</td>
                        <td><span style="width:100px;"><span class="badge-text badge-text-small info">Paid</span></span></td>
                        <td>$139.45</td>
                        <td class="td-actions">
                            <a href="#"><i class="la la-edit edit"></i></a>
                            <a href="#"><i class="la la-close delete"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="text-primary">021-12-US</span></td>
                        <td>James Morris</td>
                        <td>EN</td>
                        <td>10/21/2017</td>
                        <td><span style="width:100px;"><span class="badge-text badge-text-small info">Paid</span></span></td>
                        <td>$189.00</td>
                        <td class="td-actions">
                            <a href="#"><i class="la la-edit edit"></i></a>
                            <a href="#"><i class="la la-close delete"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="text-primary">189-01-RU</span></td>
                        <td>Valentin H.</td>
                        <td>AU</td>
                        <td>08/21/2017</td>
                        <td><span style="width:100px;"><span class="badge-text badge-text-small danger">Failed</span></span></td>
                        <td>$107.55</td>
                        <td class="td-actions">
                            <a href="#"><i class="la la-edit edit"></i></a>
                            <a href="#"><i class="la la-close delete"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- End Hover -->
<!-- Border -->
<div class="widget has-shadow">
    <div class="widget-header bordered no-actions d-flex align-items-center">
        <h4>Border</h4>
    </div>
    <div class="widget-body">
        <div class="table-responsive">
            <table class="table table-bordered mb-0">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Customer Name</th>
                        <th>Country</th>
                        <th>Ship Date</th>
                        <th><span style="width:100px;">Status</span></th>
                        <th>Order Total</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="text-primary">054-01-FR</span></td>
                        <td>Lori Baker</td>
                        <td>US</td>
                        <td>10/21/2017</td>
                        <td><span style="width:100px;"><span class="badge-text badge-text-small info">Paid</span></span></td>
                        <td>$139.45</td>
                        <td class="td-actions">
                            <a href="#"><i class="la la-edit edit"></i></a>
                            <a href="#"><i class="la la-close delete"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="text-primary">021-12-US</span></td>
                        <td>Lawrence Crawford</td>
                        <td>FR</td>
                        <td>10/21/2017</td>
                        <td><span style="width:100px;"><span class="badge-text badge-text-small info">Paid</span></span></td>
                        <td>$189.00</td>
                        <td class="td-actions">
                            <a href="#"><i class="la la-edit edit"></i></a>
                            <a href="#"><i class="la la-close delete"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="text-primary">189-01-RU</span></td>
                        <td>Samuel Walker</td>
                        <td>AU</td>
                        <td>08/21/2017</td>
                        <td><span style="width:100px;"><span class="badge-text badge-text-small danger">Failed</span></span></td>
                        <td>$107.55</td>
                        <td class="td-actions">
                            <a href="#"><i class="la la-edit edit"></i></a>
                            <a href="#"><i class="la la-close delete"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="text-primary">092-06-FR</span></td>
                        <td>Angela Walters</td>
                        <td>US</td>
                        <td>08/21/2017</td>
                        <td><span style="width:100px;"><span class="badge-text badge-text-small success">Delivered</span></span></td>
                        <td>$129.85</td>
                        <td class="td-actions">
                            <a href="#"><i class="la la-edit edit"></i></a>
                            <a href="#"><i class="la la-close delete"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="text-primary">021-09-US</span></td>
                        <td>Ryan Hanson</td>
                        <td>ES</td>
                        <td>07/21/2017</td>
                        <td><span style="width:100px;"><span class="badge-text badge-text-small info">Paid</span></span></td>
                        <td>$199.95</td>
                        <td class="td-actions">
                            <a href="#"><i class="la la-edit edit"></i></a>
                            <a href="#"><i class="la la-close delete"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="text-primary">054-01-FR</span></td>
                        <td>Evelyn Black</td>
                        <td>FR</td>
                        <td>10/21/2017</td>
                        <td><span style="width:100px;"><span class="badge-text badge-text-small info">Paid</span></span></td>
                        <td>$139.45</td>
                        <td class="td-actions">
                            <a href="#"><i class="la la-edit edit"></i></a>
                            <a href="#"><i class="la la-close delete"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="text-primary">021-12-US</span></td>
                        <td>James Morris</td>
                        <td>EN</td>
                        <td>10/21/2017</td>
                        <td><span style="width:100px;"><span class="badge-text badge-text-small info">Paid</span></span></td>
                        <td>$189.00</td>
                        <td class="td-actions">
                            <a href="#"><i class="la la-edit edit"></i></a>
                            <a href="#"><i class="la la-close delete"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="text-primary">189-01-RU</span></td>
                        <td>Valentin H.</td>
                        <td>AU</td>
                        <td>08/21/2017</td>
                        <td><span style="width:100px;"><span class="badge-text badge-text-small danger">Failed</span></span></td>
                        <td>$107.55</td>
                        <td class="td-actions">
                            <a href="#"><i class="la la-edit edit"></i></a>
                            <a href="#"><i class="la la-close delete"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- End Border -->
