@model FCourse.Models.User

@{
    ViewBag.Title = "Admin-User Edit";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>Under Construction! Please comeback later. Click @Html.ActionLink("here", "Index") to return to list</h2>

